# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!.gitignore
!README.md
!game.ini

# Images
!gasstation_01.png_
!gauge_fuel_01.png_
!gauge_hp_01.png_
!gauge_libido_01.png_
!gauge_libido_01tips.png_
!gauge_mp_01.png_
!gauge_overtime_01.png_
!gauge_pregnancy_01.png_
!gauge_toilet_01.png_
!gauge_toilet_01tips.png_
!gauge_toilet_02.png_
!gauge_toilet_02tips.png_
!gauge_toilet_03.png_
!gauge_toilet_03tips.png_
!gauge_tp_01.png_
!menuscreen_01.png_